// Variables
$corner-radius-s: 3px;
$corner-radius-m: 50px;
$corner-radius-l: 50%;



// Mixins
// Placeholders
// Functions

/**
 * Buttons
 * 1. Firefox Specific CSS to remove button differences and focus ring
 * 2. Webkit / Chrome Specific CSS to remove tap highlight color
 * 3. 
*/
.btn {

  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 108px; 
  line-height: 40px;
  padding: 0 16px;
  border: none;
  outline: none;
  border-radius: $corner-radius-s;
  background-color: transparent;
  font-size: $vr/2;
  font-weight: 700;
  user-select: none;
  color: getColor(p-main);
  text-transform: uppercase;

  background-image: none; /* 1 */
  -webkit-tap-highlight-color: transparent; /* 2 */
  &::-moz-focus-inner {
    border: 0; /* 1 */
  }                 



  &:hover {
    background-color: getColor(p-light);
    color: getColor(w);
    cursor: pointer;
  }

  &:focus {
    outline: 0;
    background-color: getColor(p-main);
    color: getColor(w);
  }

  &:active {
    background-color: getColor(p-dark);
    color: getColor(w);
  }




  // Modifiers
  &--link {
    text-decoration: none;
  }

    // states
  &--disabled {
    color: getColor(g-dark);
    &:hover,
    &:focus,
    &:active {
      outline: 0;
      cursor: not-allowed;
      background: transparent;
      color: getColor(g-dark);
    }
  }

  &--block {
    display: flex;
    width: 100%;
  }

  &--raised {
    box-shadow: 
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),  
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 5px 0px rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &--outlined {
    border: 1px solid getColor(p-main);
    color: getColor(p-main);
    
  }

  &--contained {
    background-color: getColor(p-main);
    color: getColor(w);

    &:hover {
      box-shadow: 
      0px 2px 4px -1px rgba(0, 0, 0, 0.2), 
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 
      0px 1px 10px 0px rgba(0,0,0,.12);
      background-color: getColor(p-light);;
    }

    &:focus {
      outline: 0;
      background-color: getColor(p-dark);
    }

    &:active {
      background-color: getColor(p-darker);
    }
  }

  &--toggle {

    // states
    &:hover {

    }

    &:focus {
      outline: 0;
    }

    &:active {

    }

  }

}