

/**
 * 
 */
.featured {

    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: getColor(p-main);
    transition: height 0.1s ease;

  // @include respond(large) {
  //   height: 100vh;
  // }

  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;

  // height: 80vh;
  // 

  // &__item {
  //   padding: $vr;
  // }

  // &__title {
  //  font-size: 1.7rem;
  // }

  // &__excerpt {
    
  // }

  // &__title,
  // &__excerpt {
  //   background-color: rgba(getColor(p-darker), 0.8);
  //   display: inline-block;
  //   margin: 0;
  //   padding: $vr/2;
  //    color: getColor(w);
  // }

  // &__btn {
  //   color: getColor(w);
  //   border-color: getColor(p-darker);

  //   &:hover {
  //     color: getColor(w);
  //   }
  // }
  
  


}

/**
 * Flexible cover media
 * This feature has three things:
 * 1. a cover image via CSS
 * 2. a cover image via the img or picture element
 * 3. a cover video via the video element
 * 
*/
.flex-cover {
  position: relative;   
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: getColor(p-main);
  transition: height 0.1s ease;

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    //z-index: getZIndex(default);
    //z-index: 1;

    object-fit: cover;
    object-position: top;
  }
  
}




// Modifies

/**
 * Flexible cover background image
 * Devices that are below 400px will not have any images
 * The rest will be served with images at three levels
 ** small, medium and large
*/
.flex-cover--bg-img {

  @include respond(small) {
    background-image: 
    linear-gradient(rgba(getColor(p-darker),  0.3)),
    url(../../media/images/hero-s.jpg);
  }

  @include respond(medium) {
    height: 60vh;
    background-image: 
    linear-gradient(rgba(getColor(p-darker),  0.3)),
    url(../../media/images/hero-m.jpg);
  }

  @include respond(large) {
    height: 50vh;
    background-image: 
    linear-gradient(rgba(getColor(p-darker),  0.3)),
    url(../../media/images/hero-l.jpg);
  }

  height: 75vh;        
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}


.cover-media {

  /**
   * Flexible cover image via img element 
  */
  &__img {

  }

   /**
   * Flexible cover image via picture element 
  */
  &__picture {

  }

  /**
   * Flexible cover video via video element
  */
  &__video {

  }

}



