$colors: (
  'w': #fff,
  'b': #000,

  'primary': #04093e,
);



$baseline: 1.7 !default;
$vr: 1.7 * 1rem !default;


/** 
 * Z-index map
 * @access private
 * @type Map
 * @prop {String} key :: z-index layer name
 * @prop {Number} value :: z-index value mapped to the key
 */
$z-indexes: (
  'modal': 500,
  'dropdown': 400,
  'nav': 300,
  'default': 1,
  'below': -1,
);