$colors: (
  'w': #fff,
  'b': #000,
  
  'primary': #04093e,
  'mute': #666,
);


$baseline: 1.7 !default;
$vr: $baseline * 1rem !default;



/**
 * Breakpoint Graph map
 */
$bps: (
  tiny:     320px,      
  small:    800px,       
  medium:   1024px,       
  large: 	  1280px,       
  larger: 	1440px,      
  // largest: 	1440px       
) !default;


/** 
 * Z-index map
 * @access private
 * @type Map
 * @prop {String} key :: z-index layer name
 * @prop {Number} value :: z-index value mapped to the key
 */
$z-indexes: (
  'modal': 500,
  'dropdown': 400,
  'nav': 300,
  'default': 1,
  'below': -1,
);