$colors: (
  'w': #fff,
  'b': #000,

  'g-lighter':  #f5f5f5,
  'g-main':     #e0e0e0,
  'g-dark':     #757575,
  'g-darker':   #212121,
  
  'p-light':    #534bae,
  'p-main':     #1a237e,
  'p-dark':     #121858,
  'p-darker':   #000051,

  's-light':    #534bae,
  's-main':     #1a237e,
  's-dark':     #121858,
  's-darker':   #000051,

  'mute':       #666,
);


$baseline: 1.7 !default;
$vr: $baseline * 1rem !default;



/**
 * Breakpoint Graph map
 */
$bps: (
  small:    450px,       
  medium:   800px,       
  large: 	  1100px,       
  larger: 	1440px,      
  nav: 	1040px,      
) !default;


/** 
 * Z-index map
 * @access private
 * @type Map
 * @prop {String} key :: z-index layer name
 * @prop {Number} value :: z-index value mapped to the key
 */
$z-indexes: (
  'tooltip': 1500,
  'drawer': 1400,
  'modal': 1300,
  'navbar': 1200,
  'default': 1,
  'below': -1,
);