.gc-logo {
  margin-right: auto;
  text-decoration: none;
  font-weight: bold;
  color: getColor(w);
}

// Modifiers

.gc-logo--mobile {
  background-color: getColor(p-dark);
  padding: $vr $vr/2;
  width: 40%;
  text-align: center;
}
/** 
 * Desktop logo
 */
.gc-logo--desktop {
  display: none;
  @include respond(nav) {
    display: block;
    background-color: getColor(p-dark);
    width: 250px;
    height: 250px;
  }
}