.gc-brand {
  @include flex-and-center-v;
  background-color: getColor(primary);
  padding: $vr/2;
}


.gc-logo {
  margin-right: auto;
  text-decoration: none;
  font-weight: bold;
  color: getColor(w);
}