// Variables


// Mixins
// Placeholders
// Functions


.gc-navbar {

  background-color: rgba(getColor(p-dark), 0.7);
  
  &__con {
    @include respond(nav) {
    @include flex-and-center-vh;
      display: flex;
    }
  }
  @include respond(nav) {
    background-color: transparent;
  }
}


.gc-nav-con {
  @include respond(nav) {
    width: 70%;
 }
}

.gc-nav {
  @include flex-and-center-vh;
  a {
    text-decoration: none;
    font-weight: bold;
    color: getColor(w);
    text-align: center;
  }  
}

.gc-primary-nav {
 
  &__item {
    width: 50%;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1.7rem 1rem;
    font-size: 16px;
    
    &:nth-child(odd) {
      border-left: none;
    }

    @include respond(nav) {
     width: auto;
     border: none;
     padding: 1.7rem;
    }
  }

  @include respond(nav) {
    background-color: getColor(p-dark);
  }
}

.gc-secondary-nav {

  &__item {
    width: 33.3333%;
    padding: 1rem;
    font-size: 14px;
    
    @include respond(nav) {
      width: auto;
    }

  }

  @include respond(nav) {
    background-color: getColor(p-dark);
    width: 70%;
    margin: 1px 0 0 10%;
  }
  
}
