// Variables


// Mixins
// Placeholders
// Functions


.gc-navbar {
  background-color: rgba(getColor(primary), 0.7);
}

.gc-navs {
 
}

.gc-nav {
  @include flex-and-center-vh;
  a {
    text-decoration: none;
    font-weight: bold;
    color: getColor(w);
    //font-size: 15px;
    text-align: center;
  }
}

.gc-primary-nav {
 
  &__item {
    width: 50%;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1.7rem 1rem;
    
    &:nth-child(odd) {
      border-left: none;
    }
  }
}

.gc-secondary-nav {

  &__item {
    width: 33.3333%;
    padding: 1rem;
    
    &:nth-child(even) {
      border-left: none;
    }
  }
}
